.container{
    max-width:1200px;
    background-color:#1b3321;
    padding:10px;
    margin:auto;
    color:#999;
    font-size:normal;
}
header{
    background-color:white;
    padding:50px;
}
.bodycontain{
    padding:25px;
    background-color:#1b3321;
    display:flex;
}
img{
   width: 40%;
   margin-bottom:15px;
   display:block;
   
}
.cat,.car,.motorcycle img{
    display:block;
    transition-property:all 2s;
    

}
.motorcycle:hover img{
    transform:scale(1.5);
}
.car:hover img{
    transform:scale(1.5);
}
.cat:hover img{
    transform:scale(1.5);
}
.cat{
    position:relative;
    overflow:hidden;
    
}
.motorcycle{
    position:relative;
    overflow:hidden;
}
.car{
    position:relative;
    overflow:hidden;

}
.catp,
.motorcyclep,
.carp{
    position:absolute;
    bottom:0;
    left:0;
    color:#fff;
    background-color: rgba( 0,0,0, .65);
    padding:5px 5px;
    box-sizing:border-box;
    text-align:center;
    width:40%;
    opacity:0;
    transition-property:all;
    transition-duration:2s;
    transform:translateY(100%);

}
.cat:hover .catp{
    transform:translateY(0%);
    opacity:1;
}
.motorcycle:hover .motocyclep{
    transform:translateY(0%);
    opacity:1;
}
.car:hover .carp{
    transform:translateY(0%);
    opacity:1;
}



/*nav style*/
.nav li{
    list-style:none;
    float:left;
    margin-right:7px;
}
.nav a{
    display:block;
    color: #66733e;
    text-decoration:none;
    padding:5px 20px;
    border:2px solid #1b3321;
    background-color:#fff;
    transition-property:color,background-color;
    transition-duration:2s;

    
    

} 
.nav ul{
    padding:0px;
    margin:0px;
}
.nav a:hover{
background-color:#1b3321; 
color: #fff;


}
.box-b{
    display:flex;
    
}
.box-a{
    text-align:center;
    background-color:#ccc;
    width:200px;
    height:200px;
    line-height:200px;
    border-radius:50%;
    color:cyan;
    font-size:20px;
    margin: 40px;
    transition:all 1s;
    transition-timing-function:ease-in-out;
    
    
}
.box-a:hover{
    transform:rotate(360deg)
}
/*animation*/
.animation{
    display:flex;
}
.ani{
    opacity:0;
    animation-name:fadebounce;
    animation-duration:1s;
    animation-fill-mode:forwards;
    width:200px;
    padding:10px 10px 5px 10px;
    background-color:#703;
    margin:20px;
    border:2px solid black;
    border-radius:10px
}
.animation :nth-child(2) .ani{
    animation-delay: .5s;
}
.animation :nth-child(3) .ani{
    animation-delay: 1s;
}
.animation :nth-child(4) .ani{
    animation-delay: 1.5s;
}

@keyframes fadebounce{
    0% {
        opacity:0;
        transform:translateY(-200%);
    }
    40% {
        
        transform:translateY(0);
    }
    55% {

        transfor:translateY(-6px);
    }
    70% {
        opacity:1;
        transform:translateY(0%);
    }
    85%{
        
        transform:translateY(-3%);
    }
    100%{
        opacity:1;
        transform:translateY(0%);
    }

}
.nextpage ul{
    display:flex;
    list-style: none;
    
    
}
.nextpage a{
    text-decoration: none;
    margin-right: 3px;
    
}
.ex{
    width:100px;
    padding:5px 25px 10px 10px;
    background-color:white;
    border:2px solid lightblue;
    border-radius:20px;
    color:purple;
    background-image:linear-gradient(to left green white )

}
a{
    color:purple
}
