html{
    background-color:grey;
}
body{
    
    font-family: 'PTSans', Arial, sans-serif;
    font-size: 15px;
}

.ffbody{
    max-width:95%;
    margin:auto;
    padding-left: 20px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:5px;
    background: url(../images/kk2.png)left bottom repeat-x,url(../images/kk2.png)left top repeat-x #fff ;
    
}
header{
    padding:40px;
    color: green;
    background-color:grey;
   background-image: url(../images/flower.png);
    background-position: right center;
    background-repeat:no-repeat;

}
header h1{
    font-family:  tahoma sans-serif;
}
header p{
    font-style:italic;
    margin-top:0;
}
img{
    width:35%;
    margin-bottom:10px;
    display:block;
}
.contain{
    border-top:10px solid #e5e9dc;
    border-bottom:10px solid #e5e9dc;
}
/* images style */
.pap,
.porage,
.pepersoup,
.shawarma,
.zobo{
    position:relative;
    
}
.papnote,
.poragenote,
.pepersoupnote,
.shawarmanote,
.zobonote{
    position:absolute;
    bottom:0px;
    left:0px;
    color:#fff;
    background-color: rgba( 0,0,0, .0);
    padding:15px 25px;
    width:350px;
    box-sizing:border-box;
}
/*site navigation */
.sitenav li{
    list-style:none;
    float:left;
    margin-right:5px;
}
.sitenav a{
    display:block;
    color:green;
    text-decoration:none;
    padding:10px 20px;
    border:3px solid #e5e9dc;
    background-color:#fff;
    border-bottom:none;

} 
.sitenav ul{
    padding:0;
    margin:0;
}
.sitenav a:hover{
background-color:lightgreen; 

}
/*table style */
table {
    border-spacing:0;
    width:50%
    border-collapse: collapse;
    margin-bottom: 10px;
}

table th {
    text-align: left;
    background-color: #869960;
    color:#fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.4);
}

table th,
table td {
    border: 1px solid #869960;
    padding: 10px;
    vertical-align: top;
}
table tbody tr:nth-child(even) td {
    background-color: #e5e9dc;
}
.col-item{
    width:40%
}
.col-price,
.col-aisle,
.col-quantity{
    width:20%
}
table.goslist tr :nth-child(2),
table.goslist tr :nth-child(3),
table.goslist tr :nth-child(4){
    text-align: center;
}


.author{
    width:350px;
    text-align:justify;
    padding:10px 30px;
    box-sizing:border-box;
    background-image:linear-gradient(to left bottom, #7ecc98, #fff);
}
.nextpage ul{
    display:flex;
    list-style: none;
    text-align: center;
    
    
}
.nextpage a{
    text-decoration: none;
    margin-right: 3px;
    
}

