html{
    background-color:#999;

}
/*flex:1*/
.absolutely-not{
    background-color:#8f7632;
    max-width:1000px;
    margin:auto;
    padding:20px;
    box-sizing:border-box;
    display:flex;
    color:white;
}
.always{
     padding:20px;
    box-sizing:border-box;
    flex:1
}
.absolute{
    padding:20px;
    box-sizing:border-box;
    flex:1
}
.not{ padding:20px;
    box-sizing:border-box;
    flex:1

}
/* adding margin */
.scrt{
    max-width:1200px;
    margin:40px auto 0 auto;
    line-height:1.0;
    padding:20px 50px;
    background-color:purple;
    

}
/*media query*/
@media (min-width:900px){
    .scrt{
        display:flex;
        
    align-items:stretch;/*height distribution*/
    justify-content:space-between;/*distribute space btw the content*/
    }
}
.secret{
    order:2;
    flex-basis:30%;/*flex width*/

}
.secret1 {background-color: lightgrey;
padding: 30px;
border: 3px solid black;
margin:px;
box-sizing: border-box;
flex-basis:30%;
order:3;

}
.secret2 {background-color: green;
 margin:px;
 padding: 15px;
 width:30%;
 order:1;
box-sizing:border-box;
}
/*multirow of item*/
.num-call-out{
    display:flex;
    max-width:1200px;
    margin:30px auto 0 auto;
    padding:30px 0;
    background-color:#fff;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;/*default nowrap*/
}

.a,.b,.c,.d,.e{
    width:150px;
    height:100px;
    background-color:#990b47;
    text-align:center;
    font-weight:bold;
    font-size:60px;
    margin-bottom:20px;
    color:#fff;
    box-sizing:border-box;
    padding:10px 20px;
}
/*center item*/
.banner{
    height:400px;
    max-width:700px;
    margin:35px auto 35px auto;
    background-color:cyan;
    display:flex;
}
.center-me{
    color:#fff;
    font-size:50px;
    margin: auto;
}
/*column and row**/
.think{
    max-width:1000px;
    margin:0 auto;
    display:flex;
   

}
.thinking{
    padding:15px 15px;
    background-color:#fff;
    flex:1


}
.choose{
    flex:1;
    display:flex;
    flex-direction:column;
}
.loss{
    background-color:blue;
    flex:1;

}
.love{
    background-color:pink;
    flex:1;

}
.nextpage ul{
    display:flex;
    list-style: none;
    
    
}
.nextpage a{
    text-decoration: none;
    margin-right: 3px;
    
}
