html{
    background-color: #fff;
    
}
.contain{
    max-width: 1000px;
    margin:auto;
}
header{
    background-color:#32a852;
    padding:20px;
    color:#fff;
    font-size:100%;
    
    }
header h1{
    margin:0px;
    
}
header p{
    font-size: 90%;
	margin: 0;
    
}
.sitenav ul {
    text-decoration: none;
    display:flex;
    margin:0;
    margin-top:10px;
    list-style: none;

}
.sitenav a{
    text-decoration: none;
    padding:10px 20px;
    box-sizing: border-box;
    margin-right: 2px;
    margin:0px;
    color:#32a852;
    background-color: #fff;
    border:1px solid #1e6d41

}
.sitenav a:hover{
    background-color: #1e6d41;
    color:#fff;
}

.dfn{
    width:50%;
    color:black;
}/*table style*/
table{
    background-color:rgb(231, 231, 240);
    border-spacing: 0;
    border-collapse:collapse;
    text-align:left;   
    border:"1px solid #336699";
    width:100%;
    padding:2px;
    box-sizing:border-box;
    color:#000;


}

table th {
    text-align: left;
    background-color: #1982b3;
    color:#fff;
    text-shadow: 1px 1px 0 rgba(5, 2, 2, 0.4);
}
    
table th,
table td {
    border: 1px solid #1982b3;
    padding: 10px;
    vertical-align: top;
}
@media screen and (max-width:757px) {
    .col-char,
    .col-tag {
        width:20%;
    }
    .col-des{
        width:60%;
    }

}
    

/*hide and show*/
    .toggle-btn {
	display: none;
    }	
	@media screen and (max-width: 767px) {
        .toggle-btn-visible {
            display: block;
        }
    
        .toggle-target-hidden {
            display: none;
        }
    
        .toggle-target-expanded {
            display: block;
        }
        
    }
    .link{
        color:blue;
        text-decoration: underline;
    }
    .link:hover{
        text-decoration:none;

    }
    


p h3 {
    box-align: right;
}
.sidebar{
    width:30%;
    padding:20px;
    box-sizing: border-box;
    font-size: px;
    background-color:#1e6d41 ;
    background-image:linear-gradient(to bottom right, #1e6d41, #fff );

}
footer {
    padding: 10px;
    text-align: center;
    color:#fff;
    background-color:#32a852;
    font-style: normal;
    font-weight: bolder;
}