form {
    max-width:50%;
    background-color: lightgreen;
    padding: 30px 40px;
}
input[type="text"],
input[type="tel"]{
    width:50%;
    display:block;
    box-sizing:border-box;
    height:20px
    padding: 0 10px;
    align: center;
    

}
   input[type="email"]{
      width:100%;
      padding:0 10px;
      height:20px;
      margin-bottom:15px;

   }
.nextpage ul{
    display:flex;
    list-style: none;
    text-align: center;
    
    
}
.nextpage a{
    text-decoration: none;
    margin-right: 3px;
    
}



