.images{
    display:;
}
.call{
    padding:;
    margin-bottom:;
    
}

img{
    width:;
}
/* images style */
.pap,
.porage,
.pepersoup,
.shawarma,
.zobo{
    position:relative;
    transform:scale(.5);
    
}
.papnote,
.poragenote,
.pepersoupnote,
.shawarmanote,
.zobonote{
    position:absolute;
    bottom:0px;
    left:0px;
    color:#fff;
    background-color: rgba( 0,0,0, .0);
    padding:15px 25px;
    width:100%;
    box-sizing:border-box;
}
.zobo{
    transform:scale(.5);
}