/*self hosted font */
@font-face {
    font-family:'PTSans';
    src:url('font/PT-Sans.woff') format('woff');
    font-weight:normal;
    font-style: normal;
}
/*full widthbackground*/
html{
    background-color: beige;
}
header{
    background-color: #2e3e3e;
    padding:20px;

}
/*responsive web width*/
@media screen and (max-width:700px){
    
}
.contain{
    max-width:940px;
    margin:0 auto;
}
body{
    padding:0px;
    margin:0px;
}
footer{
    background-color: #2e3e3e;
    padding:20px;
}
