h1 {
    background-color: black;
    padding:10px;
    width:48%;
    height: 40px;
    color: #fff;
    font-weight: normal;
    font-size:;
}
.gos {
    color:orange;
}
table {
    border-spacing:0;
    width:50%;
    border-collapse:collapse;
}

table th {
    text-align: left;
    background-color: #869960;
    color:#fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.4);
}

table th,
table td {
    border: 1px solid #869960;
    padding: 10px;
    vertical-align: top;
}
table tbody tr:nth-child(even) td {
    background-color: #e5e9dc;
}
.col-item{
    width:40%
}
.col-price,
.col-aisle,
.col-quantity{
    width:20%
}
table.goslist tr :nth-child(2),
table.goslist tr :nth-child(3),
table.goslist tr :nth-child(4){
    text-align: center;
}

